.account-details{font:14px "Lucida Grande",Helvetica,Arial,sans-serif;color:#585858;}
.chat-box{height:inherit;}
.chat-box>.messages{padding:0px;width:100%;height:inherit;overflow:auto;}
.chat-box>.header{color:white;font:18px "Lucida Grande";}
.room-name{font-family:"Courier New";}
.chat-box ul{list-style:none;margin:0;padding:0;padding-left:10px;}
.chat-box .username{font-weight:bold;color:orange;}
input.entry{width:100%;border:3px solid #aaaaaa;background-color:#ddddff;padding:0;margin:0px;box-sizing:border-box;}
#errorMessage{color:red;}
